@charset "UTF-8";

/*汎用設定*/


body
{
	color: #333;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	line-break: strict;
	word-break: break-all;
	text-align: justify;
	text-justify: distribute;
	background: #fff;
	-webkit-text-size-adjust: 100%;
}
a:link
{
	text-decoration: none;
	color: #6C3;
}
a:visited
{
	text-decoration: none;
	color: #6C3;
}
a:hover
{
	text-decoration: underline;
	color: #F60;
}
img
{
	border: none;
}
p
{
	margin-bottom: 1em;
}


.kyoutyou {
    background-color: #ffff66;
    color: #ff3333;
    border-bottom: 2px solid #ff3333;
}


.link-btn a{
    background: #ff3b89;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    max-width: 200px;
    width: 100%;
    display: block;
    overflow: hidden;
    margin-left: 1em auto!important;
margin-bottom: 1em;
    box-sizing: border-box;
border-radius: 30px;
}


/*エリア指定*/

#header-base
{
	width: 100%;
	height: 80px;
	background: #f9f9f9;
}
#header
{
	max-width: 970px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	background: url(../images/common/logo-base.png) no-repeat center center;
}
#header #logo
{
	position: absolute;
	top: 10px;
	left: 0px;
}
#header #social
{
	position: absolute;
	top: 25px;
	right: 0;
}
#header #social ul
{
	list-style: none;
}
#header #social ul li
{
	float: right;
	margin-left: 5px;
}

#wrapper
{
	max-width: 990px;
	width: 100%;
	margin: 30px auto 30px auto;
	padding: 0 10px;
	box-sizing: border-box;
	overflow: hidden;
}
#wrapper img
{
	max-width: 100%;
}

#wrapper .music_dl
{
	width: 100%;
	float: left;
	margin: 5px 5px 5px 5px;
	font-size: 14px;
}

#wrapper .music_dl img
{
	float: left;
	border: 3px #ffffff solid;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #acacac;
	overflow: hidden;
	margin: 0px 5px 5px 5px;
}
#wrapper .info_yuzu img
{
	border: 3px #ffffff solid;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #acacac;
	overflow: hidden;
}


#wrapper .info
{
	font-size: 16px;
	margin-bottom: 10px;
	border: 5px solid #999;
	
}
#wrapper .info p
{
	margin: 0px;
}

#wrapper .info .tex
{
	margin-bottom: 0px;
	padding: 15px;
}
#wrapper .info .tex .righ
{
	text-align: right;
}

/*slider*/

.slide-wrap{
	position: absolute;
	width: 700px;	
	height: 500px;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.img-wrap{
	position: absolute;
	width: 315px;	
	height: 315px;
	top: 42%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.right-slide-wrap{
	position: absolute;
	width: 315px;	
	height: 315px;
	top: 80%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.slick-prev {
    width: 41px !important;
    height: 78px !important;
    left: -20px !important;
    top: 50%!important;
    z-index: 99;
    background: none !important;
	-webkit-transition: all 500ms 0s ease;
    transition: all 500ms 0s ease;
}

.slick-prev::before {
    content: "" !important;
    display: block;
    width: 41px;
    height: 78px;
	transform: rotate(180deg);
    background: url(https://himatsubushi.org/images/common/指arrow.png) no-repeat;
    background-size: contain;
}

.slick-next {
    width: 41px !important;
    height: 78px !important;
    right: -20px !important;
    top: 50% !important;
    z-index: 99;
    background: none !important;
	-webkit-transition: all 500ms 0s ease;
    transition: all 500ms 0s ease;
}

.slick-next::before {
    content: "" !important;
    display: block;
    width: 41px;
    height: 78px;
    background: url(https://himatsubushi.org/images/common/指arrow.png) no-repeat right;
    background-size: contain;
}

.slick-list {
    padding: 0 !important;
}

.slick-arrow::after {
    display: none;
}

.slick-slide img{
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1020px) {

	.slick-prev {
		width: 41px !important;
		height: 78px !important;
		left: 10px !important;
		top: 50%!important;
		z-index: 99;
		background: none !important;
	}

	.slick-next {
		width: 41px !important;
		height: 78px !important;
		right: 10px !important;
		top: 50% !important;
		z-index: 99;
		background: none !important;
	}

}

@media only screen and (max-width: 767px) {

	.slick-prev {
		width: 20px!important;
		height: 39px!important;
		left: 10px !important;
		top: 50%!important;
		z-index: 99;
		background: none !important;
	}

	.slick-prev::before {
		content: "" !important;
		display: block;
		width: 20px;
		height: 39px;
		transform: rotate(180deg);
		background: url(https://himatsubushi.org/images/common/指arrow.png) no-repeat;
		background-size: contain;
	}

	.slick-next {
		width: 20px!important;
		height: 39px!important;
		right: 10px !important;
		top: 50% !important;
		z-index: 99;
		background: none !important;
	}
	
	.slick-next::before {
		content: "" !important;
		display: block;
		width: 20px;
		height: 39px;
		background: url(https://himatsubushi.org/images/common/指arrow.png) no-repeat right;
		background-size: contain;
	}

}

/*topics*/

.topic-wrap{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 30px 0 0 0;
	padding-top: 55%;
}

.topic-wrap li{
	flex-basis: 33.3333%;
	margin-bottom: 30px;
	padding: 0 15px;
	position: relative;
	box-sizing: border-box;
}

.topic-wrap li .new-icon{
	position: absolute;
	top: -10px;
	right: 0;
	z-index: 10;
	background: #F60;
	color: #fff;
	width: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #fff;
	-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
}

.topic-wrap li .topic-box{
	overflow: hidden;
	-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
	border-radius: 10px;
	position: relative;
	z-index: 5;
}

.topic-wrap li .topic-box a{
	display: block;
}

.topic-wrap li .topic-box img{
	width: 100%;
}

.topic-wrap li .topic-box .date{
	padding: 1rem 1rem 0 1rem;
	color: #333;
	font-size: 0.8em;
}

.topic-wrap li .topic-box .text{
	padding: 0 1rem 1rem 1rem;
}


/*ナビゲーション*/

#meanmenu
{
	overflow: hidden;
}

nav
{
	background: #ffbb00;
}
nav ul
{
	width: 100%;
	margin: 0 auto;
	list-style: none;
	display: table;
	table-layout: fixed;
}
nav ul li
{
	display: table-cell;
	text-align: center;
	border-left: 1px solid #fff;
}
nav ul li:last-child
{
	border-right: 1px solid #fff;
}
nav ul li.navi01 a
{
	background: url(https://yuzu-soft.com/images/common/navi01.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi01 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi01.png) no-repeat center rgb(68, 80, 190);
}
nav ul li.navi02 a
{
	background: url(https://yuzu-soft.com/images/common/navi02.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi02 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi02.png) no-repeat center #FC0;
}
nav ul li.navi03 a
{
	background: url(https://yuzu-soft.com/images/common/navi03.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi03 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi03.png) no-repeat center #FC0;
}
nav ul li.navi04 a
{
	background: url(https://yuzu-soft.com/images/common/navi04.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi04 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi04.png) no-repeat center #FC0;
}
nav ul li.navi05 a
{
	background: url(https://yuzu.soft.com/images/common/navi05.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi05 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi05.png) no-repeat center #FC0;
}
nav ul li.navi06 a
{
	background: url(https://yuzu-soft.com/images/common/navi06.png) no-repeat center;
	display: block;
	overflow: hidden;
	padding: 1em 0;
	text-indent: -9999px;
}
nav ul li.navi06 a:hover
{
	background: url(https://yuzu-soft.com/images/common/navi06.png) no-repeat center #FC0;
}

/*下層ナビ*/

#s-navi
{
	margin-bottom: 20px;
	overflow: hidden;
}
#s-navi ul
{
	width: 100%;
	display: table;
	table-layout: fixed;
	list-style: none;
}
#s-navi ul li
{
	display: table-cell;
	text-align: center;
	border-left: 1px solid #CCC;
}
#s-navi ul li:last-child
{
	border-right: 1px solid #CCC;
}

/*トップバナー*/

#top-banner-l ul
{
	list-style: none;
}
#top-banner-l ul li
{
	margin-bottom: 10px;
}
#top-banner-l ul li img
{
	width: 100%;
}


#top-banner-s ul
{
	width: 101.03092%;
	margin-right: 1.03092%;
	list-style: none;
	overflow: hidden;
	margin-bottom: 10px;
}
#top-banner-s ul li
{
	float: left;
	width: 48.96908%;
	margin-right: 1.03092%;
	margin-bottom: 10px;
}
#top-banner-s ul li img
{
	width: 100%;
}

/*アイテムフレーム*/

.item-frame
{
	padding: 20px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	border-radius: 5px;
	overflow: hidden;
}
.item-frame .pic
{
	float: left;
	margin-right: 20px;
}
.item-frame .pic img
{
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
}
.item-frame .name
{
	font-weight: bold;
	color: #F60;
	font-size: 1.4em;
	margin-bottom: 0.5em;
}
.item-frame .name2
{
	border-bottom: 2px dotted #CCCCCC;
	margin-bottom: 1em;
	padding-bottom: 1em;
	color: #39C;
	font-size: 1.2em;
}

/*トップページフレーム*/

.top-frame-wrap
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.top-frame-wrap .top-frame-cell
{
	flex-basis: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
	overflow: hidden;
}
.top-frame-wrap .top-frame-cell2
{
	flex-basis: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.top-frame-wrap img
{
	max-width: 100%;
}
.update-frame
{
	height: 250px;
	overflow: auto;
	overflow-x: hidden;
	padding-right: 10px;
	box-sizing: border-box;
}
.update-frame dl
{
	border-bottom: 2px dotted #FFCC00;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}
.update-frame dt
{
	float: left;
	color: #F60;
	width: 7em;
}
.update-frame dd
{
	margin: 0px 0px 0px 7em;
	color: #930;
}

/*見出し*/

h2
{
	background-size: 250px 40px,35px 40px,10px 40px;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: left center,right center,left center;
	height: 40px;
	text-indent: -9999px;
	width: 100%;
	margin-bottom: 20px;
}
h2.midashi01
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi01.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h2.midashi02
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi02.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h2.midashi03
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi03.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h2.midashi04
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi04.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h2.midashi05
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi05.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h2.midashi06
{
	background-image:
	url("https://yuzu-soft.com/images/common/midashi06.png") ,
	url("https://yuzu-soft.com/images/common/midashi_right.png") ,
	url("https://yuzu-soft.com/images/common/midashi_bg.png");
}
h3
{
	background-size: 250px 25px,30px 25px,10px 25px;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: left center,right center,left center;
	height: 25px;
	text-indent: -9999px;
	width: 100%;
	margin-bottom: 30px;
}
h3.midashi01
{
	background-image:
	url("https://yuzu-soft.com/images/top/midashi01.png") ,
	url("https://yuzu-soft.com/images/top/midashi_right.png") ,
	url("https://yuzu-soft.com/images/top/midashi_bg.png");
}
h3.midashi02
{
	background-image:
	url("https://yuzu-soft.com/images/top/midashi02.png") ,
	url("https://yuzu-soft.com/images/top/midashi_right.png") ,
	url("https://yuzu-soft.com/images/top/midashi_bg.png");
}
h3.midashi03
{
	background-image:
	url("https://yuzu-soft.com/images/top/midashi03.png") ,
	url("https://yuzu-soft.com/images/top/midashi_right.png") ,
	url("https://yuzu-soft.com/images/top/midashi_bg.png");
}
h3.midashi04
{
	background-image:
	url("https://yuzu-soft.com/images/top/midashi04.png") ,
	url("https://yuzu-soft.com/images/top/midashi_right.png") ,
	url("https://yuzu-soft/images/top/midashi_bg.png");
}
h3.midashi05
{
	background-image:
	url("https://yuzu-soft.com/images/top/midashi05.png") ,
	url("https://yuzu-soft.com/images/top/midashi_right.png") ,
	url("https://yuzu-soft.com/images/top/midashi_bg.png");
}
h4
{
	font-size: 1.2em;
	margin-bottom: 0.7em;
}

/*採用情報*/

.recruit-dummy
{
	padding: 5em 0;
}

/*フッター*/

#footer-base
{
	width: 100%;
	background: #f9f9f9;
	font-size: 12px;
}
.footer
{
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
	padding: 1em 0;
}
#page-top
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	background: url(/images/textures/133.png) no-repeat;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	cursor: pointer;
}


/*年齢認証*/

#caution
{
    position:fixed;
    margin: 0 auto;  
    width:100%;
	height:100%;
	background-color: rgba(80,50,40,0.9);
	z-index:500;
}
#caution-bg
{
	width: 60%;
	height: auto;
	background: #fff;
	margin: 0px auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.5); 
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	padding: 20px;
	box-sizing: border-box;
}
#caution-bg .btn-wrap
{
	width: 250px;
	margin: 0 auto;
	overflow: hidden;
}
#caution-bg .btn-wrap .btn-yes
{
	float: left;
}
#caution-bg .btn-wrap .btn-no
{
	float: right;
}

/*MOBILE--------------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

/*エリア指定*/

#header-base
{
	height: 60px;
}
#header
{
	width: 100%;
	background: url(/images/textures/11.png) no-repeat center center;
	height: 60px;
}
#header #logo
{
	left: 5px;
	top: 5px;
}
#header #logo img
{
	height: 50px;
}
#header #social
{
	right: 5px;
	top: 15px;
}


/*ナビゲーション*/

nav ul
{
	width: 100%;
}

/*下層ナビ*/

#s-navi
{
	margin-bottom: 10px;
}
#s-navi ul
{
	width: 100%;
	display: block;
	table-layout: fixed;
	list-style: none;
}
#s-navi ul li
{
	display: block;
	text-align: center;
	border-left: none;
	border-top: 1px solid #ccc;
}
#s-navi ul li:last-child
{
	border-right: none;
	border-bottom: 1px solid #ccc;
}


/*トップバナー*/

#top-banner-l ul li
{
	margin-bottom: 5px;
}
#top-banner-s ul
{
	margin-bottom: 5px;
}
#top-banner-s ul li
{
	margin-bottom: 5px;
}

/*topics*/


.topic-wrap li{
	flex-basis: 100%;
	margin-bottom: 20px;
	padding: 0 10px;
	position: relative;
	box-sizing: border-box;
}


/*アイテムフレーム*/

.item-frame
{
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.item-frame .pic
{
	float: none;
	width: 50%;
	margin: 0px auto;
}
.item-frame .name
{
	font-weight: bold;
	color: #F60;
	font-size: 1.2em;
	margin-bottom: 0;
	margin-top: 0.5em;
}
.item-frame .name2
{
	border-bottom: 2px dotted #CCCCCC;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	color: #39C;
	font-size: 1em;
}

/*見出し*/

h2
{
	margin-bottom: 10px;
}

/*フッター*/

.footer
{
	width: 100%;
	line-height: 1.5em;
	font-size: 10px;
}
#page-top
{
	bottom: 5px;
	right: 5px;
}

/*年齢認証*/

#caution-bg
{
	width: 90%;
	padding: 20px;
}

/*トップページフレーム*/

.top-frame-wrap
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.top-frame-wrap .top-frame-cell
{
	flex-basis: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.top-frame-wrap .top-frame-cell2
{
	flex-basis: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
	box-sizing: border-box;
}


}

/* ボタン */
#bgm-button{
    display: flex;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282828;
    /* 文字の色 */
    color: #cccccc;
    border: none;
    /* ボタンを大きくする */
    padding: 20px 40px;
    /* ボーダーを下に付ける */
    border-bottom: 7px solid #000;
    box-shadow: 0px 3px 4px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 23px;
    /* ホバーの処理を0.2sかけて行う */
    transition: all 0.2s;
}    

#bgm-button:hover{
    /* 上に5px空ける */
    margin-top: 5px;
    /* ボーダーの太さを再設定することで、ボタンっぽくなる */
    border-bottom: 1px solid #000;
}
