*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 10vh;
    background-image: url("/images/background\(2\).jpg");
    background-size: 170%;
    background-position: center;
    background-repeat: repeat;
}

.menuBar{
    background-color: #5599c7;
    text-align: center;
}

.menuBar ul li{
    display: inline-block;
    width: 120px;
    margin: 0 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

/* 要素の指定はきちんと行う */
.menuBar ul li a{
    /* aタグのテキストに付いている下線を消すことができる */
    text-decoration: none;
    color: white;
    /* 文字の太さ */
    font-weight: 600;
    transition: all 0.2s;
}
.active,
.menuBar ul li:hover{
    background-color: #71b3df;
    /* margin-top: 25px; */
}

.subMenu-1{
    position: absolute;
    background-color: #5599c7;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.menuBar ul li:hover .subMenu-1{
    display: block;
}

.menuBar ul li:hover .subMenu-1 ul li{
    display: block;
    width: 140px;
    border-bottom: 1px dotted white;
}

/* last-child 最後の部分に処理を加える */
.menuBar ul li:hover .subMenu-1 ul li:last-child{
    border: none;
}