*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("/images/background\(2\).jpg");
    background-size: 170%;
    background-position: center;
    background-repeat: repeat;
}

#menuBar{
    background-color: #5599c7;
    text-align: center;
}

#menuBar ul li{
    display: inline-block;
    width: 120px;
    margin: 0 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    z-index: 10;
}

/* 要素の指定はきちんと行う */
#menuBar ul li a{
    /* aタグのテキストに付いている下線を消すことができる */
    text-decoration: none;
    color: white;
    /* 文字の太さ */
    font-weight: 600;
    transition: all 0.2s;
}
.active,
#menuBar ul li:hover{
    background-color: #71b3df;
    /* margin-top: 25px; */
}

#subMenu-1{
    position: absolute;
    background-color: #5599c7;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

#menuBar ul li:hover #subMenu-1{
    display: block;
}

#menuBar ul li:hover #subMenu-1 ul li{
    display: block;
    width: 140px;
    border-bottom: 1px dotted white;
}

/* last-child 最後の部分に処理を加える */
#menuBar ul li:hover #subMenu-1 ul li:last-child{
    border: none;
}

#subMenu-1 {
    z-index: 10;
}

#english-box,.japanese-box,.math-box,.science-box,.society-box{
    width: 1000px;
    height: 800px;
}

#english-boxes-1,#english-boxes-2,#english-boxes-3,#english-boxes-4,#english-boxes-5,#english-boxes-6,
#japanese-boxes-1,#japanese-boxes-2,#japanese-boxes-3,#japanese-boxes-4,#japanese-boxes-5,#japanese-boxes-6,
#math-boxes-1,#math-boxes-2,#math-boxes-3,#math-boxes-4,#math-boxes-5,#math-boxes-6,
#science-boxes-1,#science-boxes-2,#science-boxes-3,#science-boxes-4,#science-boxes-5,#science-boxes-6,
#society-boxes-1,#society-boxes-2,#society-boxes-3,#society-boxes-4,#society-boxes-5,#society-boxes-6
{
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}